@page
@model AuthApp.Pages.Account.LoginModel
@{
}

<div class="container border">
    <form method="post">
        <div class="row mb-2">
            <div class="col-3">
                <label asp-for="Credentials.UserName"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="Credentials.UserName" class="form-control" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                <label asp-for="Credentials.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="Credentials.Password" class="form-control" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">
            </div>
            <div class="form-check">
                <input type="checkbox" asp-for="Credentials.RememberMe" class="form-check-input" />
                <label asp-for="Credentials.RememberMe" class="form-check-label"></label>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>